################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/FollowBackCore/.vs/FollowBackCore
/FollowBackCore/FollowBackCore/bin/Debug/net5.0
/FollowBackCore/FollowBackCore/obj
/FollowBackCore/FollowBackCore/Properties/launchSettings.json
/FollowBackCore/InstallCustomAction/bin/Debug/net5.0
/FollowBackCore/InstallCustomAction/obj
/FollowBackCore/FollowBackCoreInstaller/Debug
/Twapi/.vs
/Twapi/Twapi/bin/Debug/net5.0
/Twapi/Twapi/obj
